#square1kg {
  width: 45px;
  height: 45px;
  background: green;
  text-align: center;
}

#square2kg {
  width: 45px;
  height: 45px;
  background: blue;
  text-align: center;
}

#square3kg {
  width: 45px;
  height: 45px;
  background: yellow;
  text-align: center;
}