.topBox {
  height: 350px;
}

.weightsBox {
  width: 10%;
  height: 350px;
  display: inline-block;
}

.weightsList {
  list-style-type: none;
}

.weightsList li {
  margin-bottom: 40px;
}

#myScales {
  width:80%;
  height: 300px;
  border: 1px solid black;
}

.scalesBox {
  display: inline-block;
  width: 80%;  
  border-width: 2px;
  border-color: #000000;
  border-style: solid;
  height: 350px;
}

.equationBox {
  border-width: 1px;
  border-color: #000000;
  border-style: solid;
  margin-top: 30px;
  margin-left: 10%;
  margin-right: 10%;
  height: 200px;
}