.top-box {
  height: 350px;
}

.weights-box {
  width: 10%;
  height: 350px;
  display: inline-block;
}

.weights-box ul {
  list-style-type: none;
}

.weights-box ul li {
  margin-bottom: 40px;
}

.scales-box {
  display: inline-block;
  width: 80%;  
  border-width: 2px;
  border-color: #000000;
  border-style: solid;
  height: 350px;
}

.equation-box {
  border-width: 1px;
  border-color: #000000;
  border-style: solid;
  margin-top: 40px;
  margin-left: 10%;
  margin-right: 10%;
  height: 200px;
}